* {
    font-family: courier;
}

h1 {
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
    color: #486e00;
    font-weight: bold;
}

body {
    background-color: rgb(38,0,110);
}

button {
    padding: 2px;
    border-color: #211338;
    background-color: #211338;  
    border-style: solid;
    border-radius: 10px;
}

.initiate {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
}

.start-button {
    background-color: green;
    border-width: 3px;
    padding: 10px 20px;
    font-size: 20px;
    color: #211338;
    font-weight: bold;
}

.rps-choices {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.score-container {
    display: flex;
    flex-direction: column;
    margin: 16px;
}


.score {
    color: rgb(207, 142, 68);
    margin-top: 0px;
    margin-bottom: 0px;
}

.score-headline {
    font-size: 22px;
    text-decoration: underline;
    color: #486e00;
    font-weight: bold;
    margin-bottom: 10px;
}

.round-end-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.round-choice {
    color: #486e00;
    margin: 5px;
    font-size: 25px;
    margin: auto;
}

.rock-hover, .paper-hover, .scissors-hover {
    transform: scale(1.05); /* Slightly scale up on hover, adjust as needed */
}

.rock-clicked, .paper-clicked, .scissors-clicked {
    transform: scale(0.95); /* Slight scale down effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Smaller shadow when clicked */
}